<mat-card>
  <mat-card-title>Enter Parameters</mat-card-title>
  <form [formGroup]="calForm" fxLayout="column" fxLayoutGap="10px">
    <mat-form-field>
      <input matInput [matDatepicker]="startDate" placeholder="Choose a date" formControlName="startDate">
      <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
      <mat-datepicker #startDate></mat-datepicker>

      <mat-hint *ngIf="!calForm.controls['startDate'].hasError('required') && calForm.controls['startDate'].invalid && (calForm.controls['startDate'].dirty || calForm.controls['startDate'].touched)">This date is invalid.</mat-hint>
      <mat-hint *ngIf="calForm.controls['startDate'].hasError('required') && (calForm.controls['startDate'].dirty || calForm.controls['startDate'].touched)">A date is required.</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Number of days" type="number" formControlName="numberOfDays">
      <mat-hint *ngIf="calForm.controls['numberOfDays'].hasError('nonZero')">Can only enter positive numbers</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Country Code" (input)="getCountryCodes($event)" type="text" formControlName="countryCode" [matAutocomplete]="countryCodesAuto" maxlength="2">
    </mat-form-field>

    <mat-autocomplete #countryCodesAuto="matAutocomplete">
      <mat-option *ngFor="let code of countryCodes" [value]="code.Code">
        {{ code.Code + " - " + code.Name }}
      </mat-option>
    </mat-autocomplete>

    <button mat-raised-button color="primary" type="submit" (click)="close()" [disabled]="calForm.invalid">Enter</button>
  </form>
</mat-card>
